*{
    box-sizing: border-box;
}
body{
    background-image: url(forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:10%;
    margin-right:10%;
}
.hd {
color: DeepPink;
font-weight: bold;
    font-size:50px;
    padding:10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
text-shadow: 0 1px 0 #000000, 0 2px 0 #FFA500,
     0 3px 0 #000000, 0 5px 0 #FFFFFF,
     0 10px 0 #000000, 0 6px 0 #000000,
     0 8px 0 #000000, 0 8px 7px #000000 ,
     0 9px 20px #000000;
               
}
.main{
    border:3px black solid;
    background-color: DarkCyan;
    border-radius: 5px;
    text-align: center;
    margin-left:365px;
    margin-right: 5px;
    padding:10px;
    margin-bottom: 10px;
    width:600px;
    color:red;
}
.menu{
    border:2px black solid;
    border-radius: 13px;
    background-color: white;
    color:green;
    font-weight: bold;
    font-size:18px;
    text-align: center;
    margin-right:15px;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    width:130px;
}
a:hover{
color:red;
}
a:link{
color: green;
text-decoration: none;
}
.tab{
border:1px black solid;
border-radius: 2px;
background-color: #FFE5CC;
margin-left: 30%;
width:600px;
color:red;
font-weight: bold;
font-style:normal;
text-align:center;
font-size: 20px;
margin-bottom:10px;
padding:10px;
}
.yel{
color:yellow;
}
.red{
color:red;
}
.green{
color: black;
}
.brown{
color: black;
}
.blue{
color:blue;
}
.button {
background-color: green;
border: none;
border-radius: 1000px;
color: white;
padding: 10px 18px;
text-align: center;
font-size: 12px;
font-weight: bold;
text-align:center;
margin: 4px 2px;
opacity: 0.6;
transition: 0.3s;
display: inline-block;
text-decoration: none;
cursor: pointer;
}
.button:hover {opacity: 10}

.logo2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 200px;
}