<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>User View Ticket</title>
	<link rel="stylesheet" href="../static/UserViewTicket.css">
	<style>
	.logo2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 200px;
}
	</style>
</head>
<body>
<header>
	<img src="../static/logo2.png" alt="Logo" class="logo2">
	<h1 class="hd" id="heading">S R T</h1>
	<div class="home">
		<p1 class="menu"><a href="{% url 'myApp:user-home' %}">Home</a></p1>
	</div>
	<div class="home">
		<p1 class="menu"><a href="{% url 'myApp:my-bookings' %}">My Bookings</a></p1>
	</div>
	<div class="home">
        <p1 class="menu"><a href="{% url 'myApp:pnr-status' %}">PNR Status</a></p1>
	</div>
	<div class="home">
        <p1 class="menu"><a href="{% url 'myApp:avail-ability' %}">Availability</a></p1>
	</div>
	<div class="home">
        <p1 class="menu"><a href="{% url 'myApp:user-profile' %}">Profile</a></p1>
	</div>
	<div class="home">
		<p1 class="menu"><a href="{% url 'myApp:user-login' %}">Logout</a></p1>
	</div>
</header>
<body>
    <h1>Payment Status</h1>
    <p>Payment method: {{ payment_method }}</p>
    <p>Passenger details:</p>
    <ul>
    <li>Name: {{ passenger_data.passenger_name }}</li>
    <li>Age: {{ passenger_data.passenger_age }}</li>
    <li>Gender: {{ passenger_data.passenger_gender }}</li>
    <li>Nationality: {{ passenger_data.passenger_nationality }}</li>
    <li>Email: {{ passenger_data.passenger_email }}</li>
    <li>Address: {{ passenger_data.passenger_address }}</li>
    <li>Berth: {{ passenger_data.passenger_berth }}</li>
    <li>AC Category: {{ passenger_data.passenger_acCategory }}</li>
    </ul>
</body>
</body>
<script>
    var heading = document.getElementById("heading");
    var headings = ["SOUTHZONE RAILWAY TICKETS", "Welcome to SRT", "Book your train tickets with ease"];
    var index = 0;

    setInterval(function() {
        heading.textContent = headings[index];
        index = (index + 1) % headings.length;
    }, 2500);
</script>
</body>
</html>
